<title>Brands</title>

<h1>Brands</h1>
<%- include ('./partials/base.ejs') %>

<% if (brands.length > 0) { %>
    Available Brands:
    <% brands.forEach(brand => { %>
        <ul>
            <li>
                <a href="/<%= brand.brandName %>/<%= brand._id %>"><%= brand.brandName %></a> - <a href="/edit-brand?id=<%= brand._id %>">Edit</a> - <a href="/delete-brand?id=<%= brand._id %>">Delete</a>
            </li>
        </ul>
    <% }) %>
<% } else { %>
    <p>OOPS...</p>
    <ul>
        <li>
            You haven't added any brand yet. 
        </li>
    </ul>
<% } %>

<a href="/add-brand">Add Brand</a>

