<title>Brands</title>

<%- include ('./partials/base.ejs') %>

<h1 class="text-primary mv-left">Brands</h1>
<div class="mv-left">
<% if (brands.length > 0) { %>
    Available Brands:
    <% brands.forEach(brand => { %>
        <ul class="styled-list">
            <li>
                <a href="/<%= brand.brandName %>/<%= brand._id %>"><button type="button" class="brand-item btn btn-primary rounded-5"><%= brand.brandName %></button></a> - <a href="/edit-brand?id=<%= brand._id %>"><button type="button" class="btn btn-success">Edit</button></a> - <a href="/delete-brand?id=<%= brand._id %>"><button type="button" class="btn btn-danger">Delete</button></a>
            </li>
        </ul>
    <% }) %>
<% } else { %>
    <p>OOPS...</p>
    <ul>
        <li>
            You haven't added any brand yet. 
        </li>
    </ul>
<% } %>
</div>
<script>"https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"</script>

<a class="mv-left" href="/add-brand"><button type="button" class="btn btn-primary rounded-5">Add Brand</button></a>
