<title>Shoes</title>

<%- include ('./partials/base.ejs') %>

<h1 class="text-primary mv-left">Shoes</h1>

<div class="mv-left">
<% if (shoess.length > 0 ) { %>
    Available Shoes:
    <% shoess.forEach(shoe => { %>
        <ul>
            <li>
                <%= shoe.shoeName %> - <a href="/edit-shoe?id=<%= shoe._id %>"><button class="btn btn-success button-round">Edit</button></a> - <a href="/delete-shoe?id=<%= shoe._id %>"><button class="btn btn-danger button-round">Delete</button></a>
            </li>
        </ul>
    <% }) %>
<% } else { %>
    <p>OOPS...</p>
    <ul>
        <li>
            You haven't added any shoe for the <%= brandss.brandName %> brand yet. 
        </li>
    </ul>
<% } %>
</div>

<a class="mv-left" href="/add-shoe?id=<%= brandss._id %>"><button class="btn btn-primary rounded-5">Add Shoe</button></a>

